@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));
@source './pages/**/*.{ts,tsx}';
@source './components/**/*.{ts,tsx}';
@source './app/**/*.{ts,tsx}';
@source './src/**/*.{ts,tsx}';
:root {
  --background: oklch(0.8909 0.0027 106.4542);
  --foreground: oklch(0.2647 0.026 291.059);
  --card: oklch(0.933 0.0017 145.5614);
  --card-foreground: oklch(0.2647 0.026 291.059);
  --popover: oklch(0.933 0.0017 145.5614);
  --popover-foreground: oklch(0.2647 0.026 291.059);
  --primary: oklch(0.6472 0.1212 305.4013);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8381 0.0041 106.4879);
  --secondary-foreground: oklch(0.4253 0.0181 289.7812);
  --muted: oklch(0.8909 0.0027 106.4542);
  --muted-foreground: oklch(0.5321 0.0155 290.4588);
  --accent: oklch(0.9041 0.0177 339.9565);
  --accent-foreground: oklch(0.3556 0.0224 292.2749);
  --destructive: oklch(0.6932 0.0831 65.7325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8381 0.0041 106.4879);
  --input: oklch(0.8381 0.0041 106.4879);
  --ring: oklch(0.6472 0.1212 305.4013);
  --chart-1: oklch(0.6472 0.1212 305.4013);
  --chart-2: oklch(0.5858 0.1359 308.5008);
  --chart-3: oklch(0.5303 0.1162 309.5607);
  --chart-4: oklch(0.4624 0.0933 309.0992);
  --chart-5: oklch(0.4086 0.0703 308.7874);
  --sidebar: oklch(0.8381 0.0041 106.4879);
  --sidebar-foreground: oklch(0.2647 0.026 291.059);
  --sidebar-primary: oklch(0.6472 0.1212 305.4013);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9041 0.0177 339.9565);
  --sidebar-accent-foreground: oklch(0.3556 0.0224 292.2749);
  --sidebar-border: oklch(0.8381 0.0041 106.4879);
  --sidebar-ring: oklch(0.6472 0.1212 305.4013);
  --font-sans: AR One Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 1.25rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 10px;
  --shadow-spread: 4px;
  --shadow-opacity: 0.18;
  --shadow-color: #918f94;
  --shadow-2xs: 2px 2px 10px 4px hsl(264 2.2831% 57.0588% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(264 2.2831% 57.0588% / 0.09);
  --shadow-sm:
    2px 2px 10px 4px hsl(264 2.2831% 57.0588% / 0.18),
    2px 1px 2px 3px hsl(264 2.2831% 57.0588% / 0.18);
  --shadow:
    2px 2px 10px 4px hsl(264 2.2831% 57.0588% / 0.18),
    2px 1px 2px 3px hsl(264 2.2831% 57.0588% / 0.18);
  --shadow-md:
    2px 2px 10px 4px hsl(264 2.2831% 57.0588% / 0.18),
    2px 2px 4px 3px hsl(264 2.2831% 57.0588% / 0.18);
  --shadow-lg:
    2px 2px 10px 4px hsl(264 2.2831% 57.0588% / 0.18),
    2px 4px 6px 3px hsl(264 2.2831% 57.0588% / 0.18);
  --shadow-xl:
    2px 2px 10px 4px hsl(264 2.2831% 57.0588% / 0.18),
    2px 8px 10px 3px hsl(264 2.2831% 57.0588% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(264 2.2831% 57.0588% / 0.45);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.221 0.0057 106.8574);
  --foreground: oklch(0.8863 0.015 290.2756);
  --card: oklch(0.2757 0.0054 106.7491);
  --card-foreground: oklch(0.8863 0.015 290.2756);
  --popover: oklch(0.2757 0.0054 106.7491);
  --popover-foreground: oklch(0.8863 0.015 290.2756);
  --primary: oklch(0.7069 0.1015 302.7848);
  --primary-foreground: oklch(0.221 0.0057 106.8574);
  --secondary: oklch(0.3279 0.0052 106.6822);
  --secondary-foreground: oklch(0.8354 0.0083 293.8798);
  --muted: oklch(0.2253 0.0057 106.8467);
  --muted-foreground: oklch(0.6837 0.0145 290.61);
  --accent: oklch(0.3815 0.0067 106.7108);
  --accent-foreground: oklch(0.8354 0.0083 293.8798);
  --destructive: oklch(0.6932 0.0831 65.7325);
  --destructive-foreground: oklch(0.221 0.0057 106.8574);
  --border: oklch(0.3279 0.0052 106.6822);
  --input: oklch(0.3279 0.0052 106.6822);
  --ring: oklch(0.7069 0.1015 302.7848);
  --chart-1: oklch(0.7069 0.1015 302.7848);
  --chart-2: oklch(0.6472 0.1212 305.4013);
  --chart-3: oklch(0.5858 0.1359 308.5008);
  --chart-4: oklch(0.5303 0.1162 309.5607);
  --chart-5: oklch(0.4624 0.0933 309.0992);
  --sidebar: oklch(0.3279 0.0052 106.6822);
  --sidebar-foreground: oklch(0.8863 0.015 290.2756);
  --sidebar-primary: oklch(0.7069 0.1015 302.7848);
  --sidebar-primary-foreground: oklch(0.221 0.0057 106.8574);
  --sidebar-accent: oklch(0.3815 0.0067 106.7108);
  --sidebar-accent-foreground: oklch(0.8354 0.0083 293.8798);
  --sidebar-border: oklch(0.3279 0.0052 106.6822);
  --sidebar-ring: oklch(0.7069 0.1015 302.7848);
  --font-sans: AR One Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 1.25rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 10px;
  --shadow-spread: 4px;
  --shadow-opacity: 0.18;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 2px 2px 10px 4px hsl(0 0% 10.1961% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(0 0% 10.1961% / 0.09);
  --shadow-sm:
    2px 2px 10px 4px hsl(0 0% 10.1961% / 0.18),
    2px 1px 2px 3px hsl(0 0% 10.1961% / 0.18);
  --shadow:
    2px 2px 10px 4px hsl(0 0% 10.1961% / 0.18),
    2px 1px 2px 3px hsl(0 0% 10.1961% / 0.18);
  --shadow-md:
    2px 2px 10px 4px hsl(0 0% 10.1961% / 0.18),
    2px 2px 4px 3px hsl(0 0% 10.1961% / 0.18);
  --shadow-lg:
    2px 2px 10px 4px hsl(0 0% 10.1961% / 0.18),
    2px 4px 6px 3px hsl(0 0% 10.1961% / 0.18);
  --shadow-xl:
    2px 2px 10px 4px hsl(0 0% 10.1961% / 0.18),
    2px 8px 10px 3px hsl(0 0% 10.1961% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(0 0% 10.1961% / 0.45);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

/*
Source - https://stackoverflow.com/a/75359263
Posted by gokudesu, modified by community. See post 'Timeline' for change history
Retrieved 2026-01-14, License - CC BY-SA 4.0
*/

@layer base {
  *,
  ::before,
  ::after {
    @apply border-border;
  }
}
